<!-- Begin Latest News Section -->
 <section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.latestNewsTitle }}</h3>
			<article class="row">
        <a class="twitter-timeline" href="https://twitter.com/gdgvit" data-width="700"
          data-height="500">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</article>
		</div>
	</div>
 </section>
<!-- End Latest News Section -->
